audio{
    display:none !important;
}
.centerDiv{
    position: absolute;
    height: 160px;
    width: 160px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    background: #000000;
    border-radius: 100%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
}
.outerGameDiv,
.outerScoresDiv
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left:0;
    right:0;
    top:10px;
}
.outerGameDiv.isShown,
.outerScoresDiv.isShown
{
    z-index:3;
}
.outerGameDiv.isHidden,
.outerScoresDiv.isHidden
{
    z-index: 2;
}


.outerScoresDiv
{
    z-index:2;
    /*opacity:0;*/
}

body.animateShowScores .outerGameDiv{
    animation-name: rotatesimonhide;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-timing-function: linear;
}

body.animateShowScores .outerScoresDiv{
    animation-name: rotatesimonscoresshow;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-timing-function: linear;
}

body.animateShowGame .outerGameDiv{
    animation-name: rotatesimonshow;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-timing-function: linear;
}

body.animateShowGame .outerScoresDiv{
    animation-name: rotatesimonscoreshide;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-timing-function: linear;
}



#parentGame, #parentScores
{
    height: 400px;
    width: 400px;
    min-width:270px;
    border-radius: 100%;
    background: #000000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid #000000;
}
#parentScores{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cell{
    border: none;
    outline:none;
}
.cell.disabled{
    pointer-events:none;
}
.cell:hover{
    cursor: pointer;
}
.cell.disabled:hover{
    cursor:not-allowed;
}

.cell:nth-child(1){
    height: 49%;
    width: 48%;
    background: #06D6A0;
    border-radius: 100% 0% 0 0;
}
/*.cell:nth-child(1):not(.disabled):not(.active):hover{
    box-shadow: 0 0 15px 9px #06D6A0;
}*/
.cell:nth-child(1):not(.disabled):not(.active):active,
.cell:nth-child(1).active
{
    box-shadow: 0 0 15px 9px #06D6A0, inset 0 0 4px 4px #06D6A0, inset 0 0 12px 6px #000000a1;
}

.cell:nth-child(2){
    height: 49%;
    width: 48%;
    background: #EF476F;
    border-radius: 0 100% 0 0;
}
/*.cell:nth-child(2):not(.disabled):not(.active):hover{
    box-shadow:0 0 15px 9px #EF476F;
}*/
.cell:nth-child(2):not(.disabled):not(.active):active,
.cell:nth-child(2).active{
    box-shadow: 0 0 15px 9px #EF476F, inset 0 0 4px 4px #EF476F, inset 0 0 12px 6px #000000a1;
}


.cell:nth-child(3){
    background: #FFD166;
    border-radius: 0 0 0 100%;
    height: 48%;
    width: 48%;
}

/*.cell:nth-child(3):not(.disabled):not(.active):hover{
    box-shadow:0 0 15px 9px #FFD166;
}*/

.cell:nth-child(3):not(.disabled):not(.active):active,
.cell:nth-child(3).active{
    box-shadow: 0 0 15px 9px #FFD166, inset 0 0 4px 4px #FFD166, inset 0 0 12px 6px #000000a1;
}


.cell:nth-child(4){
    background: #26547C;
    border-radius: 0 0 100% 0;
    height: 48%;
    width: 48%;
}

/*.cell:nth-child(4):not(.disabled):not(.active):hover{
    box-shadow:0 0 15px 9px #26547C;
}*/

.cell:nth-child(4):not(.disabled):not(.active):active,
.cell:nth-child(4).active{
    box-shadow: 0 0 15px 9px #26547C, inset 0 0 4px 4px #26547C, inset 0 0 12px 6px #000000a1;
}


.gameBtn{
    background: #ffffff;
    border-radius: 100%;
    font-size: 19px;
    padding: 0 !important;
    outline: none;
    cursor: pointer;
    width: 26px;
    height: 26px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#viewScoresBtn{
    font-size: 16px;
}

.game-buttons{
    display: flex;
    align-items: center;
    width: 118px;
    justify-content: space-around;
}

.game-scores{
    height:36px;
}

@media screen and (min-width: 430px){
    .game-buttons{
        width: 118px;
    }
    .gameBtn{
        font-size:20px;
    }
}
@media screen and (max-width: 429px){
    .centerDiv{
        height: 140px;
        width: 140px;
    }
    #parentGame, #parentScores{
        height: 380px;
        width: 380px;

    }

    
    #parentScores  .formContainer{
        height: auto;
        width:260px;
    }
    #usernameInput{
        width: 160px;
    }
    
    #parentScores .scoresTableContainer{
        height: 180px;
    }

    #parentScores .scoresBoardFooter{
        height: 24px;
    }

    #parentScores #exitScoresBoard{
        width:35px;
    }
    
    .scoresSpacer {
        /*height: 23px;*/
    }

    #submitUsernameInput{
        width: 22px;
        padding: 0.9px 2px;
    }
   #parentScores #exitScoresBoard{
        width: 30px;
        padding: 0.9px 2px;
    }
    .game-title,#parentScores{
        font-size: 13px;
    }



    .game-buttons{
        width: 104px;
    }
    .gameBtn{
        font-size:18px;
    }
}
@media screen and (max-width: 409px){
    .centerDiv{
        height: 120px;
        width: 120px;
    }
    #parentGame, #parentScores{
        height: 360px;
        width: 360px;

    }
    .game-title{
        font-size: 15px;
    }
    .game-scores{
         font-size: 15px;
    }
    
}
@media screen and (max-width: 389px){
    .centerDiv{
        height: 120px;
        width: 120px;
    }
    #parentGame, #parentScores{
        height: 340px;
        width: 340px;

    }


    
    #parentScores  .formContainer{
        height: auto;
        width:260px;
    }
    #usernameInput{
        width: 160px;
    }
    
    #parentScores .scoresTableContainer{
        height: 180px;
    }

    #parentScores .scoresBoardFooter{
        height: 24px;
    }

    #parentScores #exitScoresBoard{
        width:35px;
    }
    
    .scoresSpacer {
        /*height: 23px;*/
    }

    #submitUsernameInput{
        width: 22px;
        padding: 0.9px 2px;
    }
   #parentScores #exitScoresBoard{
        width: 30px;
        padding: 0.9px 2px;
    }
    .game-title,#parentScores{
        font-size: 13px;
    }



    .game-title{
        font-size: 13px;
    }
    .game-scores{
         font-size: 13px;
    }
    .game-buttons{
        width: 90px;
    }
    .gameBtn{
        font-size:16px;
    }
    
}

@media screen and (max-width: 369px){
    .centerDiv{
        height: 90px;
        width: 90px;
    }
    #parentGame, #parentScores{
        height: 310px;
        width: 310px;

    }


    #parentScores  .formContainer{
        width:230px;
    }
    #usernameInput{
        width: 120px;
    }
    
    #parentScores .scoresTableContainer{
        height: 160px;
    }

    #parentScores .scoresBoardFooter{
        height: 20px;
    }
    
    .scoresSpacer {
        /*height: 23px;*/
    }

    #submitUsernameInput{
        width: 22px;
        padding: 0.9px 2px;
    }
    #parentScores #exitScoresBoard{
        width: 30px;
        padding: 0.9px 2px;
    }

    .game-title,#parentScores{
        font-size: 13px;
    }



    .game-title{
        font-size: 13px;
    }
    .game-scores{
         font-size: 13px;
    }
    .game-buttons{
        width: 70px;
    }
    .gameBtn{
        font-size:16px;
    }
    
}
@media screen and (max-width: 349px){

    #parentGame, #parentScores{
        height: 280px;
        width: 280px;
    }

    #parentScores  .formContainer{
        height: auto;
        width:200px;
    }
    #usernameInput{
        width: 120px;
    }
    
    #parentScores .scoresTableContainer{
        height: 150px;
    }

    #parentScores .scoresBoardFooter{
        height: 20px;
    }
    
    .scoresSpacer {
        /*height: 23px;*/
    }

    #submitUsernameInput{
        width: 22px;
        padding: 0.9px 2px;
    }
    #parentScores #exitScoresBoard{
        width: 30px;
        padding: 0.9px 2px;
    }
    .game-title,#parentScores{
        font-size: 13px;
    }

    .game-scores{
         font-size: 13px;
    }
    .game-buttons{
        width: 75x;
    }
    .gameBtn{
        font-size:16px;
    }
    
}




@keyframes rotatesimonhide{
    0%{
        transform:rotateY(0deg);
        opacity:1;
        z-index:3;
    }
    49%{
        opacity:1;
        z-index:3;
    }
    50%{
        opacity:0;
        z-index:2;
    }
    
    100%{
        transform:rotateY(180deg);
        opacity:0;
    }
}
@keyframes rotatesimonshow{
    0%{
        transform:rotateY(180deg);
        opacity:0;
        z-index:2;
    }
    49%{
        opacity:0;
    }
    50%{
        opacity:1;
        z-index:3;
    }
    
    100%{
        transform:rotateY(0deg);
        opacity:1;
        z-index:3;
    }
}


@keyframes rotatesimonscoreshide{
    0%{
        transform:rotateY(0deg);
        opacity:1;
        z-index:3;
    }
    49%{
        opacity:1;
        z-index:3;
    }
    50%{
        opacity:0;
        z-index:2;
    }
    
    100%{
        transform:rotateY(180deg);
        opacity:0;
    }
}
@keyframes rotatesimonscoresshow{
    0%{
        transform:rotateY(180deg);
        opacity:0;
        z-index:2;
    }
    49%{
        opacity:0;
    }
    50%{
        opacity:1;
        z-index:3;
    }
    
    100%{
        transform:rotateY(0deg);
        opacity:1;
        z-index:3;
    }
}


table#scoresTable{
    border-collapse: collapse;
    width: 100%;
}
#scoresTable tr > *
 {
    border:1px solid #000000;
    padding: 4px;
    
}

#scoresTable > tbody > tr > td:nth-child(2)
{
    text-align:center;
}

.formContainer{
    /* flex-grow:2; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* height: 32px; */
}
.scoresTableContainer{
    /*flex-grow:3;*/
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 217px;
    overflow-y: auto;
    /* box-shadow: 0 0 5px 0 #000000; */
    width: 66%;
}

.scoresBoardFooter{
    height: 23px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.scoresSpacer {
    height: 23px;
    width: 100%;
}

.scoresSpacer2 {
    flex-grow: 2;
    width: 100%;
}