audio{
    display:none !important;
}
.centerDiv{
    position: absolute;
    height: 160px;
    width: 160px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    background: #000000;
    border-radius: 100%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
}
.outerDiv{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#parent{
    height: 400px;
    width: 400px;
    min-width:270px;
    border-radius: 100%;
    background: #000000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid #000000;
    /*box-shadow:2px 2px 0 4px #000000;*/
}
.cell.disabled{
    pointer-events:none;
}
.cell:hover{
    cursor: pointer;
}
.cell.disabled:hover{
    cursor:not-allowed;
}

.cell:nth-child(1){
    height: 49%;
    width: 48%;
    background: #06D6A0;
    border-radius: 100% 0% 0 0;
}
.cell:nth-child(1):not(.disabled):not(.active):hover{
    box-shadow: 0 0 15px 9px #06D6A0;
}
.cell:nth-child(1):not(.disabled):not(.active):active,
.cell:nth-child(1).active
{
    box-shadow: 0 0 15px 9px #06D6A0, inset 0 0 4px 4px #06D6A0, inset 0 0 12px 6px #000000a1;
}

.cell:nth-child(2){
    height: 49%;
    width: 48%;
    background: #EF476F;
    border-radius: 0 100% 0 0;
}
.cell:nth-child(2):not(.disabled):not(.active):hover{
    box-shadow:0 0 15px 9px #EF476F;
}
.cell:nth-child(2):not(.disabled):not(.active):active,
.cell:nth-child(2).active{
    box-shadow: 0 0 15px 9px #EF476F, inset 0 0 4px 4px #EF476F, inset 0 0 12px 6px #000000a1;
}


.cell:nth-child(3){
    background: #FFD166;
    border-radius: 0 0 0 100%;
    height: 48%;
    width: 48%;
}

.cell:nth-child(3):not(.disabled):not(.active):hover{
    box-shadow:0 0 15px 9px #FFD166;
}

.cell:nth-child(3):not(.disabled):not(.active):active,
.cell:nth-child(3).active{
    box-shadow: 0 0 15px 9px #FFD166, inset 0 0 4px 4px #FFD166, inset 0 0 12px 6px #000000a1;
}


.cell:nth-child(4){
    background: #26547C;
    border-radius: 0 0 100% 0;
    height: 48%;
    width: 48%;
}

.cell:nth-child(4):not(.disabled):not(.active):hover{
    box-shadow:0 0 15px 9px #26547C;
}

.cell:nth-child(4):not(.disabled):not(.active):active,
.cell:nth-child(4).active{
    box-shadow: 0 0 15px 9px #26547C, inset 0 0 4px 4px #26547C, inset 0 0 12px 6px #000000a1;
}


.gameBtn{
    background: #ffffff;
    border-radius: 100%;
    font-size: 19px;
    padding: 0 4px;
    outline: none;
    cursor: pointer;
}

.game-buttons{
    display: flex;
    align-items: center;
    width: 118px;
    justify-content: center;
}

.game-buttons {}

@media screen and (min-width: 430px){
    .game-buttons{
        width: 118px;
    }
    .gameBtn{
        font-size:20px;
    }
}
@media screen and (max-width: 429px){
    .centerDiv{
        position: absolute;
        height: 140px;
        width: 140px;
    }
    #parent{
        height: 380px;
        width: 380px;

    }
    .game-buttons{
        width: 104px;
    }
    .gameBtn{
        font-size:18px;
    }
}
@media screen and (max-width: 409px){
    .centerDiv{
        position: absolute;
        height: 120px;
        width: 120px;
    }
    #parent{
        height: 360px;
        width: 360px;

    }
    .game-title{
        font-size: 15px;
    }
    .game-scores{
         font-size: 15px;
    }
    
}
@media screen and (max-width: 389px){
    .centerDiv{
        position: absolute;
        height: 120px;
        width: 120px;
    }
    #parent{
        height: 340px;
        width: 340px;

    }
    .game-title{
        font-size: 13px;
    }
    .game-scores{
         font-size: 13px;
    }
    .game-buttons{
        width: 90px;
    }
    .gameBtn{
        font-size:16px;
    }
    
}

@media screen and (max-width: 369px){
    .centerDiv{
        position: absolute;
        height: 90px;
        width: 90px;
    }
    #parent{
        height: 310px;
        width: 310px;

    }
    .game-title{
        font-size: 13px;
    }
    .game-scores{
         font-size: 13px;
    }
    .game-buttons{
        width: 70px;
    }
    .gameBtn{
        font-size:16px;
    }
    
}
@media screen and (max-width: 349px){

    #parent{
        height: 280px;
        width: 280px;

    }
    .game-title{
        font-size: 13px;
    }
    .game-scores{
         font-size: 13px;
    }
    .game-buttons{
        width: 75x;
    }
    .gameBtn{
        font-size:16px;
    }
    
}